<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
<meta charset="utf-8">
<title>{{ .Title }}</title>
{{ $built := resources.Get "js/updatebg.js" | js.Build "updatebg.js" -}}
<script src="{{ $built.RelPermalink }}"></script>
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true ) -}}
{{ $style := resources.Get "style/main.scss" | resources.ToCSS $options -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ block "headpart" . }}{{ end }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="{{ .Summary }}">
{{ with .Params.tags -}}
<meta name="keywords" content="{{ delimit . "," }}" />
{{ end -}}
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ template "_internal/opengraph.html" . -}}
{{ template "_internal/twitter_cards.html" . -}}
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="mask-icon" href="/assets/cheese-monochrome.svg" color="#363636">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#363636">
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
{{- if .Params.background -}}
<style>
@media screen and (min-width: 1000px) {
  header.has-background {
    background-image: {{ .Params.background.style | safeCSS }};
  }
}
</style>
{{ end -}}
{{- $images := .Resources.ByType "image" -}}
{{- $cover := $images.GetMatch "cover" -}}
{{- with $cover -}}
<style>
  @media screen and (min-width: 1000px) {
    header.has-background {
      background-image: url({{ .RelPermalink }});
    }
  }
</style>
{{ end -}}
</head>

<body>
{{ partial "nav.html" . }}
{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}
</body>
</html>
