<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
{{ partial "head.html" . }}
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "style/main.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ block "headpart" . }}{{ end }}
{{ if .Params.background }}
<style>
@media screen and (min-width: 1000px) {
  header.has-background {
    background-image: {{ .Params.background.style | safeCSS }};
  }
}
</style>
{{ end }}
{{ $built := resources.Get "js/updatebg.js" | js.Build "updatebg.js" }}
<script src="{{ $built.RelPermalink }}" defer></script>
</head>

<body>
{{ partial "nav.html" . }}
{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}
</body>
</html>
