<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
{{ partial "head.html" . }}
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "style/main.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<style>
  {{ block "css" . }}{{ end }}
{{ if .Params.background }}
@media screen and (min-width: 1000px) {
  body {
    background-image: {{ .Params.background.style | safeCSS }};
  }
}
{{ end }}
</style>
</head>

<body>
{{ partial "nav.html" . }}
{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}
<main>
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
</body>

<script type='text/javascript'>
  function updateBg() {
    var date = new Date();
    var hour = date.getHours();
    var minute = date.getMinutes();
    var minuteOfDay = (hour * 60) + minute;
    var hue = minuteOfDay % 360;

    var element = document.getElementsByTagName("body")[0];
    element.style["background-color"] = "hsl(" + hue + ",100%,20%)";
    console.log("update bg hue", hue, date);
  }
  setInterval(updateBg, 30000);
  updateBg();
</script>

</html>
