p code {
  /* inline code */
  color: #ba2121;
}

pre {
  overflow-x: auto;

  .k, .kd {
    /* language keywords */
    color: #008000;
    font-weight: bold;
  }

  .nn,
  .nc {
    /* namespaces, classes */
    color: #0000ff;
    font-weight: bold;
  }

  .s, .s1, .s2, .sr {
    /* string */
    color: #ba2121;
  }

  .kt, .kr {
    /*type */
    color: #b00040;
    font-weight: bold;
  }

  .kc, .mi {
    /* const / operator */
    color: #6a6;
  }

  .o {
    /* operator */
    color: #666;
  }

  .p {
    /* semicolon, brakets*/
    color: #666;
  }

  .cm, .c1 {
    /* comment */
    color: #666;
  }
}
