footer {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: whitesmoke;
  opacity: 0.8;
  padding: 4rem 1rem;
  text-align: center;
  text-shadow: 1px 1px 10px #000;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }

  svg {
    height: 32px;
    width: 32px;
    margin: 4px;
  }

  svg * {
    fill: #b5b5b5;
  }

  a {
    text-decoration: none;
    opacity: 0.75;
  }

  a:hover {
    opacity: 0.95;
    svg * {
      fill: whitesmoke;
    }
  }
}
