footer {
  background: linear-gradient(transparent,rgba(0,0,0,.8));
  opacity: 0.8;
  padding: 3rem 1.5rem;
  text-align: center;
}

footer, footer a {
  color: whitesmoke;
  text-shadow: 1px 1px 10px #000;
}

footer svg {
  height: 2rem;
  width: 2rem;
  margin: 4px;
}

footer svg * {
  fill: #b5b5b5;
}

footer a {
  text-decoration: none;
  opacity: 0.75;
}

footer a:hover {
  opacity: 0.95;
  svg * {
    fill: whitesmoke;
  }
}
