header {
	color: white;
	font-size: 1.7rem;
	overflow-x: auto;
	padding: 8vh 1rem;
	text-align: center;
	text-shadow: 1px 1px 10px #000;

	&.has-background {
		@media screen and (min-width: 1000px) {
			padding-bottom: 35vh;
			padding-top: 35vh;
		}
	}

	* {
		font-weight: normal;
		margin: 0;
	}

	h1 {
		font-size: 2.5rem;
	}
}
