.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list article {
  max-width: 600px;
  padding-bottom: 3rem;
  padding: 2rem;

  margin: 1rem;
  @media screen and (max-width: 700px) {
    margin: 1rem 0;
  }

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
  @media (prefers-color-scheme: dark) {
    background-color: rgba(25, 25, 25, 0.8);
    box-shadow: 0 0 5px 1px rgba(25, 25, 25, 0.8);
  }
}

.list h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;

  a {
    text-decoration: none;
  }
}
