.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list article {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
  margin: 1rem;
  max-width: 600px;
  padding: 2rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 700px) {
  .list article {
    margin: 1rem 0;
  }
}

@media (prefers-color-scheme: dark) {
  .list article {
    background-color: rgba(25, 25, 25, 0.8);
    box-shadow: 0 0 5px 1px rgba(25, 25, 25, 0.8);
    color: whitesmoke;
  }
}

.list:not(:first-child) {
  margin-top: 1rem;
}

.list h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.list .meta {
  margin: 0.5rem 0;
}
