nav {
  background: linear-gradient(rgba(0,0,0,.7), transparent);
}

nav > div {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  min-height: 3.5rem;
  padding: 0 0.5rem;
}

nav, nav a {
  color: #bbb;
  text-decoration: none;
  text-shadow: 1px 1px 10px #000;
}

nav a:hover {
  color: whitesmoke;
}

nav .left, nav .right {
  display: flex;
  flex-grow: 1;
}

nav .right {
  justify-content: flex-end;
}

nav .left > *, nav .right > * {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem 1rem;
}
