{% if page.header %}
{% if page.background %}
<section class="hero {% if page.background.is-dark %}is-dark {% endif %}is-{{ page.header }} background-fixed" style="background-color: {{ page.background.color }}; background-image: {{ page.background.style }};">
{% else %}
<section class="hero is-dark is-{{ page.header }}">
{% endif %}
  <div class="hero-head">{% endif %}
    <header class="nav is-dark has-shadow{% unless page.background %} nav-without-bg{% endunless %}">
      <div class="container">
        <div class="nav-left">
          <a href="/" class="nav-item">{{ site.title }}</a>
        </div>
        <span class="nav-toggle">
        <span></span> <span></span> <span></span>
        </span>
        <div class="nav-right nav-menu">{% for my_page in site.pages | where: "title" %}{% if my_page.title %}{% unless my_page.noquicklink %}{% unless my_page.url contains '/blog/page/' %}
          <a class="nav-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>{% endunless %}{% endunless %}{% endif %}{% endfor %}
        </div>
      </div>
    </header>{% if page.header %}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{ page.title }}</h1>
      <h2 class="subtitle">{{ page.description }}</h2>
    </div>
  </div>
</section>{% endif %}
