<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="EdJoPaTo">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:url" content="https://edjopato.de">
  <meta property="og:site_name" content="EdJoPaTo.de">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="/assets/appicon/512.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">
  <link rel="fluid-icon" href="/assets/appicon/512.png" title="EdJoPaTo.de">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/152.png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/144.png" sizes="144x144">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/76.png" sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/72.png" sizes="72x72">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/180.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/114.png" sizes="114x114">
  <link rel="apple-touch-icon-precomposed" href="/assets/appicon/57.png" sizes="57x57">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="mask-icon" href="/assets/cheese.svg" color="#ff0">
  <link rel="fluid-icon" href="/res/cheese.png" title="EdJoPaTo">

  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
