.hero .nav {
  background-color: rgba(0,0,0, 0.5);

  .nav-menu {
    @media screen and (max-width: 768px) {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.nav.is-dark {
  .nav-item a:hover,
  a.nav-item:hover {
    color: whitesmoke;
  }

  .nav-item a:not(.button),
  a.nav-item {
    color: rgba(245, 245, 245, 0.7);
  }

  .nav-toggle:hover {
    background-color: #111;
  }
}

.nav-without-bg {
  &,
  .nav-menu {
    background-color: #222;
  }
}
