.post, .blog {
  .meta {
    margin-bottom: 1.5rem;
  }

  .content {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.other-posts {
  background-color: whitesmoke;

  .box {
    background-color: rgba(255,255,255,0.8);
  }
}
