pre .k, pre .kd {
  /* language keywords */
  color: #008000;
  font-weight: bold;
}

pre .nn, pre .nc {
  /* namespaces, classes */
  color: #0000FF;
  font-weight: bold;
}

pre .s, pre .s1, pre .s2, pre .sr {
  /* string */
  color: #BA2121;
}

pre .kt, pre .kr {
  /*type */
  color: #B00040;
  font-weight: bold;
}

pre .kc, pre .mi {
  /* const / operator */
  color: #6A6;
}

pre .o {
  /* operator */
  color: #666;
}

pre .p {
  /* semicolon, brakets*/
  color: #666;
}

pre .cm, pre .c1 {
  /* comment */
  color: #666;
}
