footer {
  background: linear-gradient(transparent,rgba(0,0,0,.8));
  opacity: 0.8;
  padding: 3rem 1.5rem;
  text-align: center;
}

footer, footer a {
  color: #b5b5b5;
  text-shadow: 1px 1px 10px #000;
}

footer svg {
  height: 1.5rem;
  width: 1.5rem;
  margin: 3px;
}

footer svg * {
  fill: #b5b5b5;
}

footer a {
  text-decoration: none;
}
