---
layout: default
title: Blog
description: Ein Blog über Dinge. Mit Typos.
header: large
background:
  style: radial-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.1)), url(/assets/backgrounds/waves-and-circles.svg)
  color: '#555'
  is-dark: true
  name: 'Waves and Circles'
  source:
    name: FreeVector
    url: '//www.freevector.com/waves-and-circles'
---
<div class="section blog">
  <div class="container">
    <div class="content">
      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <div class="meta">
        {% include post-meta.html %}
      </div>
      <div class="content">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url }}">weiterlesen…</a> {% endfor %}
    </div>

    <nav class="pagination is-centered">
      {% if paginator.previous_page %}
      <a class="pagination-previous" href="{{ paginator.previous_page_path }}">Previous</a> {% else %}
      <a class="pagination-previous is-disabled">Previous</a> {% endif %} {% if paginator.next_page %}
      <a class="pagination-next" href="{{ paginator.next_page_path }}">Next</a> {% else %}
      <span class="pagination-next is-disabled">Next</span> {% endif %}
      <ul class="pagination-list">
        {% if paginator.page > 2 %}
        <li><a class="pagination-link" href="/blog/">1</a></li>
        {% endif %} {% if paginator.page > 3 %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %} {% if paginator.previous_page %}
        <li><a class="pagination-link" href="{{ paginator.previous_page_path }}">{{ paginator.previous_page }}</a></li>
        {% endif %}

        <li><a class="pagination-link is-current">{{ paginator.page }}</a></li>


        {% assign tmp = paginator.page | plus:0 %} {% if paginator.next_page %}
        <li><a class="pagination-link" href="{{ paginator.next_page_path }}">{{ paginator.next_page }}</a></li>
        {% endif %} {% assign tmp = paginator.page | plus:2 %} {% if tmp
        < paginator.total_pages %} <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% endif %} {% assign tmp = paginator.page | plus: 1 %} {% if tmp
          < paginator.total_pages %} <li><a class="pagination-link" href="/blog/page/{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
            {% endif %}
      </ul>
    </nav>
  </div>
</div>
