---
layout: default
title: TTI Veranstaltung
noquicklink: true
permalink: /blog/tti/
description: Alle Posts zum Thema TTI in chronologischer Reihenfolge
header: large
background:
  style: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(/assets/2017/06/praktikum3.jpg)
  color: '#aaa'
  name: 'Praktikum 3 Retrospektive'
---
<div class="section blog">
<div class="container">
<div class="content">
{% assign posts = site.categories.tti | reverse %}
{% for post in posts %}{% include post.html %}{% endfor %}
</div>
</div>
</div>
