header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

section {
  font-size: 1.25rem;
  padding: 10vmin 1rem;
  text-align: center;
}

section {
  color: white;
}

section h2 {
  font-weight: normal;
  font-size: 2rem;
}

section.has-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20vmin;
  padding-top: 20vmin;
  text-shadow: 1px 1px 10px #000;
}

section.has-bg.is-light {
  color: black;
  text-shadow: 1px 1px 10px #FFF;
}

.alternating-bg:nth-child(2n+1) {
  background-color: rgba(255,255,255,0.7);
}

.alternating-bg:nth-child(2n) {
  background-color: rgba(0,0,0,0.3);
}

.alternating-bg:nth-child(2n) {
  color: whitesmoke;
}

.alternating-bg:nth-child(2n+1) {
  color: black;
}

.avatar {
  box-shadow: 1px 1px 10px rgb(255, 255, 0);
  width: 40vmin;
  height: auto;
  margin: 5vmin;
  border-radius: 35% 20%;
  transition: transform 0.5s, border-radius 0.5s;
}

.avatar:hover {
  transform: rotate(360deg);
  border-radius: 20% 35%;
}
