header {
  flex: 1;
}

.avatar {
  box-shadow: 1px 1px 10px rgb(255, 255, 0);
  width: 40vmin;
  height: auto;
  margin: 5vmin;
  border-radius: 35% 20%;
  transition: transform 0.5s, border-radius 0.5s;
}

.avatar:hover {
  transform: rotate(360deg);
  border-radius: 20% 35%;
}
