@use "a";
@use "background";
@use "code";
@use "footer";
@use "header";
@use "list";
@use "meta";
@use "nav";
@use "pagination";
@use "single";
@use "table";

html, body {
	font-family: system-ui, -apple-system, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100dvh;

	color: black;
	@media (prefers-color-scheme: dark) {
		color: whitesmoke;
	}
}
