{{ define "headpart" }}
{{ $options := (dict "targetPath" "index.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "style/index.css" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "header" }}
<header>
  <h1>Hi!</h1>
  <div>Ich bin Edgar!</div>
  <img class="avatar" src="/assets/cheese.svg" alt="Avatar">
</header>
{{ end }}

{{ define "main" }}
  {{ range where .Site.Data.projects ".background" "!=" nil }}
  <section class="has-bg{{ if eq .background.dark "false" }} is-light{{ end }}" style="background-image: {{ .background.style | safeCSS }}">
    <h2><a href="{{ .url | safeURL }}">{{ .title }}</a></h2>
    {{ .description | markdownify }}
  </section>
  {{ end }}
  {{ range where .Site.Data.projects ".background" "==" nil }}
  <section class="alternating-bg">
    <h2><a href="{{ .url | safeURL }}">{{ .title }}</a></h2>
    {{ .description | markdownify }}
  </section>
  {{ end }}
{{ end }}
