{{ define "headpart" }}
{{ $options := (dict "targetPath" "index.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "style/index.css" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "header" }}
<header style="text-align: center;">
  <h1>Hi!</h1>
  <h2>Ich bin Edgar!</h2>
  <img class="avatar" src="/assets/cheese.svg" alt="Avatar">
</header>
{{ end }}

{{ define "main" }}
  {{ range where .Site.Data.projects ".background" "!=" nil }}
  <section class="has-bg{{ if eq .background.dark "false" }} is-light{{ end }}" style="background-image: {{ .background.style | safeCSS }}">
    <h1><a href="{{ .url | safeURL }}">{{ .title }}</a></h1>
    <h2>{{ .description | markdownify }}</h2>
  </section>
  {{ end }}
  {{ range where .Site.Data.projects ".background" "==" nil }}
  <section class="alternating-bg">
    <h1><a href="{{ .url | safeURL }}">{{ .title }}</a></h1>
    <h2>{{ .description | markdownify }}</h2>
  </section>
  {{ end }}
{{ end }}
