---
layout: default
---
<div class="section post">
  <div class="container">
    <div class="meta">
      {% include post-meta.html post=page %}
    </div>
    <div class="content">
{{ content }}
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Ähnliche Posts</h1>{% for post in site.related_posts %}
      <p>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title}}</a></h2>
        {% include post-meta.html post=post %}
      </p>{% endfor %}
    </div>
  </div>
</div>
